<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Service B</title>
</head>
<body>
<div th:if="${message==null}">안녕하세요</div>
<div th:unless="${message==null}"><span th:text="${message}"></span> </div>

<form action="/echoA" method="post">
    <input type="submit" value="Echo A 전송">
</form>
</body>
</html>